/data/DBs/murineSTRING.txt
/data/DBs/Ensembl2Reactome_ALL.txt
/data/DBs/Ensembl2Reactome.txt
data/DBs/Ensembl2Reactome_PE_Pathway.txt
data/Omics/d_fibWT.rds
data/cell_graph.npy
data/cell_graph_scram.npy
data/cell_projection.npz
data/cellKGE_projection.npz
data/cell_projection_nnKGwav.npz
data/cellKGE_projection_nnKGEwav.npz
data/Omics/d_fibA.rds
data/Omics/d_fibAK.rds
data/Omics/d_fibAKP.rds
data/cell_projection_nnKGwav_GEN.npz
data/cell_projection_nnKGwav_GENepi.npz
data/cell_projection_SCRAM_nnKGwav.npz
data/cell_projection_KGnn2WAV.npz
data/DBs/Ensembl2Reactome_PE_All_Levels.txt
